body{
    background-image: url(img/100x100.gif);
    color: midnightblue;
}

.portals{
    background-color: yellow;
    color: black;
    width: 400px;
    height: 250px;
}

.menu{
    background-color: cornflowerblue;
    color: cornsilk;


}

.back img{
    max-width: 50px;
    height: auto;
}

.fun-h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}